<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-default-mail-opener" version="0.0.1">
    <name>DefaultMailOpener</name>

    <description>An Android Cordova plugin that opens default email app.</description>
    <license>MIT</license>

    <keywords>cordova,android,ios,default,email, nocomposer</keywords>
    <repo>https://github.com/Fomenko-developer/cordova-default-mail-opener.git</repo>
    <issue>https://github.com/Fomenko-developer/cordova-default-mail-opener/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/defaultMailPlugin.js" name="DefaultMailPlugin">
        <clobbers target="window.plugins.defaultMailPlugin" />
    </js-module>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="DefaultMailPlugin">
                <param name="browser-package" value="DefaultMailPlugin"/>
            </feature>
        </config-file>
        <js-module src="src/browser/DefaultMailPluginProxy.js" name="DefaultMailPlugin.Proxy">
            <runs />
        </js-module>
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DefaultMailPlugin">
                <param name="android-package" value="com.fomenkoartjoms.cordova.plugin.DefaultMailPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/DefaultMailPlugin.java" target-dir="src/com/fomenkoartjoms/cordova/plugin" />
    </platform>
</plugin>